body
{
	 background: url("background.jpg");


}


span
{
	color : red;
}
header
{
	float:right;
}

.container
{
	text-align: center;
	background-color :#ebf29d;
	border-radius: 50px;
	color: black;
}

#containercanvas
{
	background-color :#ebf29d;
	width: 50%;
	margin-left: 20%;
	border-radius: 2em;
}

#myCanvas
{
		margin-left: 20em;
		background-color :white;
		border: 1px solid black;

}

table,tr,td
{
	border : 1px solid black;
  margin-left: 20em;
}
